.header {
  -webkit-animation: Gradientbg 27s ease infinite;
  animation: Gradientbg 27s ease infinite;
}
.myinfo_introduce {
  opacity: 0;
}
.myinfo_introduce2 {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.myinfo_introduce2_img {
  opacity: 0;
}
.skills_container {
  opacity: 0;
}
.skills_readmore {
  opacity: 0;
}
.project_img1,
.project_img3 {
  opacity: 0;
}
.project_img2 {
  opacity: 0;
}
.project_intro1,
.project_intro3 {
  opacity: 0;
}
.project_intro2 {
  opacity: 0;
}
.fa-sms {
  opacity: 0;
}
.fa-github {
  opacity: 0;
}
.fa-instagram {
  opacity: 0;
}

@media (max-width: 449px) {
  .myinfo_introduce {
    opacity: 1;
  }
  .myinfo_introduce2 {
    opacity: 1;
  }
  .myinfo_introduce2_img {
    opacity: 1;
  }
  .skills_container {
    opacity: 1;
  }
  .skills_readmore {
    opacity: 1;
  }
  .project_img1,
  .project_img3 {
    opacity: 1;
  }
  .project_img2 {
    opacity: 1;
  }
  .project_intro1,
  .project_intro3 {
    opacity: 1;
  }
  .project_intro2 {
    opacity: 1;
  }
  .fa-sms {
    opacity: 1;
  }
  .fa-github {
    opacity: 1;
  }
  .fa-instagram {
    opacity: 1;
  }
}
/* Animation =======================================================*/

@-webkit-keyframes Gradientbg {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes Gradientbg {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
